html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: #333;
  background: #f9f9f9;
}

* {
  box-sizing: border-box;
}

a {
  color: #a33;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #a33;
}

.outer-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.main-wrapper {
  padding: 16px;
}

nav {
  border-bottom: 2px solid black;
  padding: 0 0 0 16px;
}
nav:after {
  display: block;
  clear: both;
  content: ''
}
nav h1 {
  display: inline;
  line-height: 56px;
}
nav ul {
  margin: 0;
  padding: 0;
  float: right;
  list-style: none;
}
nav ul li {
  display: inline-block;
  height: 100%;
  line-height: 56px;
}
nav ul li a {
  text-decoration: none;
  display: block;
  padding: 0 16px;
}
nav ul li a:hover {
  background: #eee;
  text-decoration: none;
}
nav ul li a.btn {
  color: white;
  margin: 0 16px;
}

button, .btn, a.btn {
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  border: none;
  outline: none;
  display: inline-block;
  border-radius: 2px;
  background: #a33;
  padding: 6px 12px;
  color: white;
  line-height: 1rem;
  font-size: 0.8rem;
  transition: box-shadow 0.1s ease-out;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}
button:hover, .btn:hover {
  background: #b44;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
button:active, .btn:active {
  background: #c55;
  box-shadow: 0 5px 12px rgba(0,0,0,0.4);
}
button.secondary, .btn.secondary {
  background: #fff;
  color: #333;
}
button.secondary:hover, .btn.secondary:hover {
  background: #fff;
  color: #000;
}
button.secondary:active, .btn.secondary:active {
  background: #fff;
}

fieldset {
  background: white;
  border-radius: 4px;
}

.sw-form {
  max-width: 400px;
  margin: 0 auto 16px auto;
  border: 1px solid grey;
}

input[type=text], input[type=password] {
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #aaa;
  padding: 4px;
  font-size: 0.9rem;
  outline: none;
}
input[type=text]:focus, input[type=password]:focus {
  border-color: #33a;
}

.message {
  margin: 16px 0;
  border-radius: 8px;
  padding: 12px;
  font-weight: bold;
  text-align: center;
  color: white;
}
.message.error {
  background: #f33;
}
.message.success {
  background: #3a3;
}

.card {
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  padding: 16px;
  border-radius: 2px;
}

.card-actions {
  margin-top: 8px;
  border-top: 1px solid grey;
  padding-top: 8px;
  text-align: right;
}

.nice-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nice-list > li {
  display: block;
  border-top: 1px solid #aaa;
}
.nice-list > li:first-child {
  border-top: none;
}
.nice-list > li > a {
  display: block;
  padding: 16px;
}
.nice-list > li > a:hover {
  background: #eee;
  text-decoration: none;
}

.message-input {
  width: 100%;
  min-height: 60px;
  resize: vertical;
  border: 1px solid #aaa;
  padding: 4px;
  border-radius: 4px;
  font-size: 0.9rem;
}